main {
  max-width: 800px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

form {
  height: 80vh;
  display: flex;
  align-items: center;
}

.boxNotaGeral {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 65%;
  margin: auto;
  padding: 1.5rem;
  background-color: #17171a;
  p {
    text-align: center;
    font-size: 1.2rem;
  }

  .notaSelecionada {
    font-size: 8rem;
  }

  .containerNotas {
    display: flex;
    justify-content: space-around;
    width: 100%;

    span {
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100%/11);
      margin: 5px;
      height: 30px;
      
      position: relative;
      top: 0;
      transition: top ease 0.2s;

      &:hover {
        color: orange;
        position: relative;
        top: -5px;
      }
    }
  }
}

.boxQuesitos {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: #17171a;
  height: 80%;
  opacity: 0.4;
  font-size: 60%;
  margin: 5px;
  transition: all 0.2s;

  .quesito {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &:hover {
    width: 50%;
    height: 100%;
    opacity: 1;
    font-size: 100%;
  }
}